# Solar physics and astronomy
sunpy[all]
sunpy-soar
astropy
aiapy==0.6.4  # itipy 0.1.1 requires calibrate.util which was renamed in 0.7.0
drms
itipy

# Deep learning
torch
torchvision
pytorch-lightning

# Data processing
numpy
scipy
pandas
xarray
h5py

# Machine learning
scikit-learn

# Visualization
matplotlib
seaborn
plotly
colormaps

# Image processing
opencv-python
Pillow
imageio
imageio-ffmpeg

# Utilities
tqdm
wandb
PyYAML
huggingface_hub
datasets